.navbar-gradient {
    background: linear-gradient(90deg, #d38312 0%, #a83279 100%);
}

.progress-bar-gradient {
    background: linear-gradient(90deg, #7a6f68, #2b2b2f);
}

.navbar-brand img {
    height: 35px;
}

.nav-link {
    color: white !important;
    font-weight: normal;
    transition: opacity 0.3s;
}

.nav-link:hover {
    opacity: 0.7;
}

.profile-pic img {
    max-width: 400px;
}

.project-pic {
    max-width: 180px;
}

.bg-soft-yellow {
    background-color: #f2e6d8;
}

.bg-soft-grey {
    background-color: #e6edf5;
}

.bg-soft-silver {
    background-color: #f8f9fb;
}

.grecaptcha-badge {
    visibility: hidden;
}